@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.letter {
  padding: 20vh;
  font-size: 150px;
  font-family: "Montserrat", sans-serif;
  color: #3a004f;
}

.shuffle {
  padding: 15px;
  width: 50vw;
  background-color: #7f2982;
  color: #ffffff;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 2rem;
}
